@keyframes slid {
	0% {
		transform: perspective(1000px) rotateY(0deg);
	}
	100% {
		transform: perspective(1000px) rotateY(360deg);
	}
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	background-color: #bcbec0;
	overflow: hidden;
}

.scope {
	margin-left: 33rem;
	margin-top: 10.5rem;
	width: 180px;
	height: 180px;
	transform-style: preserve-3d;
	animation: slid 30s linear infinite;
	span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-origin: lcenter;
		transform-style: preserve-3d;
		transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			object-fit: cover;
			transition: 2s;
		}
		&:hover {
			img {
				transform: translateY(-50px) scale(1.1);
                cursor:pointer;
			}
		}
	}
}